*,body{
	padding: 0;
	box-sizing: border-box;
}


body{
	padding: 0;
	background-color:  #A93330;
}

.align-text-top{
	width: 90px;
	height: 40px;

}

/*Background*/
#trailer{
	min-width: 100%;
	min-height: 100%;
	position: fixed;
}

@media (max-width: 767px) {
	#trailer{
		display: none;
	}
	body{
		background: url('wallpaper.jpg') no-repeat center center fixed;
		background-size: cover;
	}
	.game-caption button{
		display: none;
	}
	.game-caption img{
		width: 150px;
		height: 100px;
	}
	.game-caption p{
		font-size: 14px;
	}
}

@media (min-width: 767px) and (max-width: 1023px){
	#trailer{
		display: none;
	}
	body{
		background: url('wallpaper2.jpg') no-repeat fixed;
		background-size: cover;
	}
	.game-caption button{
		display: none;
	}
	.game-caption button{
		display: none;
	}
	.game-caption img{
		width: 120px;
		height: 70px;
	}
	.game-caption p{
		font-size: 10px;
	}
}


@media (min-width: 1024px){
	.game-caption img{
		width: 140px;
		height: 90px;
	}
	.game-caption p{
		font-size: 13px;
	}
}

?
/*1279px*/

.game-caption img{
	width: 130px; 
	height: 80px;
	border-radius: 2px;
}

.game-caption{
	position: fixed;
	bottom: 0;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	color: white;
	text-align: center;
	padding: 15px;
	font-family: 'Roboto';
	font-weight: 500;
	font-size: 15px;
}

.game-caption button{
	border: none;
	background-color: black;
	padding: 10px;
	color: white;
	border-radius: 5px;
	width: 105px;
	font-family: sans-serif;
}

.game-caption button:hover{
	cursor: pointer;
}

.coming{
	text-align: center;
	margin-top: 15%;
}
